name: Release AppImage

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: sudo apt install libfuse2 libmpc-dev libmpfr-dev gmpc-dev appstream qt6-l10n-tools libcairo2-dev patchelf
      - name: Build
        run: |
            export ARCH=x86_64
            ./ci/package.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: appimage
          path: ci/PINCE-x86_64.AppImage
